 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/stock5.jpeg");
  background-position: 50% 50%;
  background-size: auto 115%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-1 .u-group-1 {
  min-height: 541px;
  height: auto;
  margin-top: 122px;
  margin-bottom: 59px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-out;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 190px 60px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.4225rem;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.45;
  background-image: none;
  margin: 19px 60px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.22rem;
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: 31px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.22rem;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -51px auto 0 222px;
  padding: 8px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 22px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-2 {
  background-image: none;
  min-height: 529px;
}

.u-section-2 .u-slider-1 {
  min-height: 550px;
  height: auto;
  margin-top: -21px;
  margin-bottom: 0;
  width: calc(((100% - 1140px) / 2) + 1264px);
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 60px 0;
}

.u-section-2 .u-group-elements-1 {
  width: 338px;
  min-height: 50px;
  height: auto;
  margin: 100px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 50px;
  width: 204px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.85rem;
  font-weight: 300;
  margin: -50px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 22px 102px 0;
}

.u-section-2 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 60px;
}

.u-section-2 .u-text-4 {
  font-size: 2.85rem;
  font-weight: 300;
  margin: 100px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 10px 102px 0;
}

.u-section-2 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 60px;
}

.u-section-2 .u-text-6 {
  font-size: 2.85rem;
  font-weight: 300;
  margin: 100px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 260px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 1px 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: 12px;
  position: absolute;
  right: auto;
  padding: 10px;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: 13px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 45px;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 888px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 879px;
  }

  .u-section-2 .u-slider-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 80px;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 679px;
  }

  .u-section-2 .u-slider-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-group-elements-1 {
    width: 320px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 148px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 132px;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-text-1 {
  font-weight: 100;
  font-size: 2.85rem;
  width: 388px;
  margin: 45px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-image-1 {
  width: 480px;
  height: 275px;
  margin: 39px auto 0 330px;
}

.u-section-3 .u-line-1 {
  width: 120px;
  transform-origin: left center 0px;
  margin: -254px auto 0 194px;
}

.u-section-3 .u-line-2 {
  width: 120px;
  transform-origin: left center 0px;
  margin: -1px 194px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 33px auto 0 29px;
}

.u-section-3 .u-text-4 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: -52px 29px 0 844px;
}

.u-section-3 .u-text-5 {
  margin: -16px 844px 0 29px;
}

.u-section-3 .u-text-6 {
  margin: -40px 29px 0 844px;
}

.u-section-3 .u-line-3 {
  width: 120px;
  transform-origin: left center 0px;
  margin: 50px auto 0 194px;
}

.u-section-3 .u-line-4 {
  width: 120px;
  transform-origin: left center 0px;
  margin: -1px 194px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 33px auto 0 29px;
}

.u-section-3 .u-text-8 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: -52px 18px 0 855px;
}

.u-section-3 .u-text-9 {
  margin: -16px 844px 0 29px;
}

.u-section-3 .u-text-10 {
  margin: -40px 18px 45px 855px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-2 {
    height: 1px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 696px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 644px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 678px;
  }

  .u-section-3 .u-line-4 {
    height: 1px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 673px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 644px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-bottom: 46px;
    margin-left: 673px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 240px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 533px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 519px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 453px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-10 {
    margin-bottom: 20px;
    margin-left: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 400px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 244px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 389px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 273px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 244px;
  }

  .u-section-3 .u-text-10 {
    margin-bottom: 0;
    margin-left: 273px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 195px;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: -290px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -77px;
    margin-right: 44px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 19px;
    margin-left: 245px;
  }

  .u-section-3 .u-line-3 {
    margin-top: -190px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 73px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 44px;
  }

  .u-section-3 .u-text-10 {
    margin-bottom: 60px;
    margin-left: 73px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 717px;
}

.u-section-4 .u-text-1 {
  font-size: 2.85rem;
  font-weight: 100;
  width: 673px;
  margin: 46px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 12px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  min-height: 467px;
  grid-gap: 40px 40px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: normal;
  margin: 51px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  border-style: solid;
  margin: 51px auto 0;
  padding: 15px 56px 17px 55px;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: normal;
  margin: 51px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  border-style: solid;
  margin: 51px auto 0;
  padding: 15px 56px 17px 55px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -187px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/section-bg-1.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 146px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 146px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 146px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-btn-1 {
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-5 .u-btn-1 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 101px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 358px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 327px;
}

.u-section-6 .u-slider-1 {
  min-height: 327px;
  width: 893px;
  height: auto;
  margin: 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-3 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-6 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-9 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-12 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-6 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 565px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 704px;
}

.u-section-7 .u-text-1 {
  font-weight: 100;
  font-size: 2.85rem;
  margin: 34px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 14px 0 0;
}

.u-section-7 .u-custom-html-1 {
  margin-bottom: 14px;
  height: auto;
  min-height: 507px;
  margin-top: 19px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-top: -41px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 21px;
    margin-right: 1px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-bottom: 60px;
    margin-top: -51px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-top: -47px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -14px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-top: -83px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -85px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 4px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-top: -115px;
  }
}.custins {
}